* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gridbox {
  /* background image  */
  background-image: url(cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: grid;
  column-gap: 2rem;
  row-gap: 1rem;
  padding: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
  grid-template-areas:
    "item5 item4 . ."
    "item6 item7 item8 item9"
    "item10 one one item3"
    "item2 item2 item2 .";
}

.gridbox div {
  background-color: darkcyan;
  border: 1px solid black;
}

.item1 {
  grid-area: one;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}
.item10 {
  grid-area: item10;
}
