* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box1 {
  width: 100%;
  height: 200vh;
  background-color: burlywood;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: cornflowerblue;
  position: relative; /* static, relative, absolute, sticky, fixed */
  left: 20px;
}

.box3 {
  width: 200px;
  height: 200px;
  background-color: darkgreen;
  position: absolute; /* static, relative, absolute, sticky, fixed */
  bottom: 10px;
  left: 20px;
  z-index: 2;
}

.box4 {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  position: fixed; 
  bottom: 50px;
  right: 20px;
}

.box5 {
  width: 100px;
  height: 100px;
  background-color: deepskyblue;
  position: sticky; 
  top: 10px;
  z-index: 5;
}
