:root {
  --primary-color: #830808;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: none;
  list-style: none;
  gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.box {
  height: 200px;
  width: 200px;
  background-color: var(--primary-color);
  border: 1px solid;
}

h1 {
  font-size: 1.25rem;
  color: var(--primary-color);
}

h2 {
  color: var(--primary-color);
}

/* Tablet screen  */
@media (min-width: 481px) and (max-width: 768px) {
  header nav ul {
    display: flex;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    font-size: 1.5rem;
  }
}

/* Large table screen  */
@media (min-width: 769px) and (max-width: 1200px) {
  header nav ul {
    display: flex;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  h1 {
    font-size: 2rem;
  }
}

/* Desktop screen */
@media (min-width: 1201px) {
  header nav ul {
    display: flex;
  }

  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    font-size: 3rem;
  }
}
