:root {
  font-size: 20px;
}
span {
  font-family: sans-serif;
  font-weight: bold;
}

.info {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: red;
}

/* Color properties  */
.title {
  color: rgb(14, 107, 129); /* Red, Green, Blue:  0-255 */
  color: #ff0000; /* HEX: 0 - 9, A, B, C, D, E, F */
  background-color: #ff000020;
}

.description {
  color: rgb(14, 107, 129);
  font-size: 2rem;
}

/* Text properties */

.title {
  text-align: center; /* left, right, center, justify */
  text-decoration: underline;
  text-transform: capitalize; /* uppercase, lowercase, capitalize */
  word-spacing: 15px;
  letter-spacing: 5px;
  text-shadow: -10px -10px 10px black; /* horizontal vertical spread color */
}

.description {
  text-align: justify;
  line-height: 1.25;
}

/* Font properties  */
.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

/* Box model properties  */

.box {
  height: 200px;
  width: 100px;
  background: #c89999;
  margin: 20px; /* All side same */
  margin: 10px 20px; /* top-bottom left-right */
  margin: 10px 20px 30px; /* top left-right bottom */
  margin: 10px 20px 30px 40px; /* top left bottom right */
  margin-top: 20px;
  border: 5px solid khaki;
  border-top: 5px dashed red;
  padding: 20px;
  padding: 10px 20px 30px 40px; /* top left bottom right */
}

/* Display properties  */
.container {
  height: 100px;
  width: 100px;
  background-color: aquamarine;
  margin: 1rem;
  display: block; /* block, inline, inline-block, none */
}

.card {
  height: 100px;
  width: 100px;
  background-color: burlywood;
  display: inline-block;
}

/* Flex properties */
.section {
  display: flex;
  flex-direction: row; /* row, column, row-reverse, column-reverse */
  align-items: center;
  justify-content: space-between; /* start, end, center, space-between, space-around, space-evenly */
  column-gap: 1rem;
}

.item1 {
  flex: 1;
  height: 100px;
  width: 100px;
  background-color: chartreuse;
}

.item2 {
  height: 150px;
  width: 150px;
  background-color: darkorange;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

/* List properties  */
.list {
  list-style: square; /* disc, circle, square, none */
}

/* pseudo (fake) class properties */
.title:hover {
  color: blue;
}

.list li:first-child {
  color: red;
}

.list li:last-child {
  color: green;
}

.list li:nth-child(5) {
  color: blue;
}

.list li:nth-child(odd) {
  color: pink;
}

input {
  background-color: red;
}

input:disabled {
  background-color: grey;
}

/* Units: px (pixel), em (relative to parent), rem (relative to root), 
vh (viewing height), vw (viewing width), in (inch), cm  */
.units {
  color: #1e8607;
  font-size: 1.5em;
}

.unit-box {
  font-size: 40px;
  width: 50%;
  background-color: #c89999;
  height: 200vh;
}

/* overflow properties  */
.overflow-box {
  border: 3px solid;
  width: 50%;
  height: 100px;
  overflow: auto; /* auto, hidden, visible, scroll */ 
}

.overflow-box p {
  color: black;
}
